VITE_NODE_ADDRESS=wss://rpc.vara.network
VITE_FACTORY_PROGRAM_ID=
VITE_EXPLORER_URL=
VITE_VOUCHER_API_URL=http://localhost:3001/voucher
VITE_VUSDT_TOKEN_PROGRAM_ID=0x4255ff4a87a4c13dc39f74ace8c4948bbef2f75fb639d66639a1cfcc99e6243e
VITE_VARA_TOKEN_PROGRAM_ID=0x29c42c668012b1ce20720e4615229215023281ef4676fdc77bf047d7fbcb9d17
VITE_MAX_NATIVE_VARA_BALANCE_FOR_VOUCHER=1
