.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;

  .item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
  }
}

.account {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 4px 0px 8px;
}

.buttons {
  display: flex;
  gap: 16px;

  button {
    padding: 7px 10px;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
